body {
    background-color: darkkhaki;
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}